
.custom-jumbotron {
    padding: 3rem 0;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .custom-jumbotron h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .custom-jumbotron p {
    font-size: 1.25rem;
    color: #555;
  }
  
  .custom-jumbotron hr {
    border-top: 2px solid #ccc;
    width: 50%;
    margin: 1rem auto;
  }

.navbar {
  position: sticky;
  top: 0;
}

/* CustomForm.css */

.custom-form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}

.custom-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #0056b3;
}



@media (max-width: 768px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    padding: .5rem 1rem;
  }
}

@media (min-width: 768px) {
  .flex-sm-column {
    flex-direction: row !important;
  }
}

/* Dashboard.css */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

  