/* Customizations.css */

.additional-class {
  color: #ff5722;
  padding: 50px; /* Mengubah warna teks */
}

.additional-class .custom-input {
  border-color: #ff5722; /* Mengubah warna border input */
}

.additional-class .custom-button {
  background-color: #ff5722; /* Mengubah warna latar belakang tombol */
}
