/* Customizations.css */
@import url('../components/Style.css');

.additional-class {
  color: #ff5722;
}

.additional-class .custom-input {
  border-color: #ff5722; 
}

.additional-class .custom-button {
  background-color: #ff5722;
}
